@using SeriesWeb.Enums
@model Serie

<form method="post" asp-action="Edit">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary text-Dark">Editar Serie</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label asp-for="Id"></label>
            <input asp-for="Id" disabled class="form-control" />
        </div>
         <div class="mb-3">
            <label asp-for="Genero"></label>
            <select asp-for="Genero" asp-items="Html.GetEnumSelectList<Genero>()">
                    <option selected="selected" value="">Escolha um Genero</option>
                </select>
            <span asp-validation-for="Genero" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Titulo" class="control-label"></label>
            <input asp-for="Titulo" class="form-control" />
            <span asp-validation-for="Titulo" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Descricao" class="control-label"></label>
            <input asp-for="Descricao" class="form-control" />
            <span asp-validation-for="Descricao" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Ano" class="control-label"></label>
            <input asp-for="Ano" class="form-control" />
            <span asp-validation-for="Ano" class="text-danger"></span>     
        </div>

        <button type="submit" class="btn btn-primary" style="width:150px">Atualizar</button>
        <a asp-controller="Series" asp-action="Index" class="btn btn-secondary" style="width:150px">
            Voltar
        </a>
    </div>
</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
     }
}
